*{
    margin:0px;
}

.page{
    position: absolute;
    width:100%;
    height:100%;
    display:none;
}

.page-active {
    display: block;
}


.mdl-cell {
    background-color: #BBB;
    height: 50px;
}



.mdl-textfield {
    width: 100%;
}

.btnLogin{
    width:100%;
}
.btnFace{
    width: 100%;
}
.btnGoogle {
    width: 100%;
}
.btnEsqueci {
    width: 100%;
}
.btnCadastro{
    width:100%;
}