*{
    margin:0px;
}

.page{
    position: absolute;
    width:100%;
    height:100%;
    display:none;
}

.page-active {
    display: block;
}


.mdl-cell {
    background-color: #BBB;
    height: 500%;
}

.mdl-textfield {
    width: 100%;
}

.btnLogin{
    width:100%;
}
.btnFace{
    width: 100%;
}
.btnGoogle {
    width: 100%;
}
.btnEsqueci {
    width: 100%;
}
.btnCadastro{
    width:100%;
}

.servicoCard > .mdl-card{
    width:100%;
}

.btnRetornar{
    float:right;
}


.formulario{
    position:fixed;
    width:80%;
    height:80%;
    background-color:black;
    
}
.btnCancelar{
    width:100%;
}


.demo-card-image.mdl-card {
    margin-top:1%;
    width: 100%;
    height: 20%;
    background: url('../images/loginBack.jpg') center / cover;
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.pp {
    width: 20%;
    height: 20%;
}

#Valores_detalhes{
    width:100%;
}

/* Bug ao posicionar a o top no final*/
.navegacaoInferiorDireito {
    position: fixed;
    transition: .5s ease;
    top: 88%;
    left: 81%;
}

label.input-custom-file input[type=file] {
    display: none;
}


#img-novo-servico > img{
    width: 100%;
    height:10%;
}
#tela-usuario-principal > h1{
    font-size: 1px;
}